name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  static-checks:
    name: GDScript Lint & Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: Scony/godot-gdscript-toolkit@master

      - name: Check formatting
        run: gdformat --check addons/hammerforge/

      - name: Lint
        run: gdlint addons/hammerforge/
